@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.container {
  display: flex;
  width: 90vw;
}

.header {
  position: fixed;
  top: 30px;
  color: white;
  font-family: monospace;
  font-size: xx-large;
}
.board {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 65px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 1s ease-out;
  border: 6px solid rgb(243, 237, 237);
}

.board h3 {
  color: rgb(238, 235, 235);
  font-size: 14px;
  position: absolute;
  bottom: -70px;
  left: 20px;
  opacity: 0;
}

.board.active {
  flex: 0.8;
}

.board.active h3 {
  opacity: 1;
  transition: opacity 1.3s ease 0.4s;
}
