@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  background-color: black;
}

.header {
  /* position: absolute; */

  color: white;
  font-family: monospace;
  font-size: x-large;
  margin-bottom: 3rem;
  height: 80px;
  background: rgb(48, 105, 2);
  width: 100%;
  text-align: center;
  padding-top: 1.3rem;
}
.container {
  display: flex;
  width: 90vw;
  /* margin-top: 3px; */
}

.board {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 65px;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 1s ease-out;
  border: 6px solid rgb(243, 237, 237);
}

.board h3 {
  color: rgb(238, 235, 235);
  font-size: 14px;
  position: absolute;
  bottom: -70px;
  left: 20px;
  margin-bottom: 6rem;
  opacity: 0;
}

.board.active {
  flex: 0.8;
}

.board.active h3 {
  opacity: 1;
  transition: opacity 1.1s ease 0.4s;
}

@media only screen and (max-width: 900px) {
  .container {
    display: block;
  }
  .header {
    /* position: fixed; */
    margin-bottom: 3rem;
  }
}
